*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body{
    margin-top: 10px;
    background-color: #EDEEF0;
    
}

.card{
    width:300px;
    height:fit-content;

    margin: auto;
    padding: 5px;
    padding-bottom: 20px;
    
    border-radius: 30px; 
    background:
    radial-gradient(circle at 50% 0,
      rgba(255, 0, 0, 0.914),
      rgba(255, 0, 0, 0) 70.71%),
    radial-gradient(circle at 6.7% 75%,
      rgba(0, 0, 255, 0.701),
      rgba(0, 0, 255, 0) 70.71%),
    radial-gradient(circle at 93.3% 75%,
      rgba(0, 255, 0, 0.725),
      rgba(0, 255, 0, 0) 70.71%) rgba(255, 255, 255, 0);
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.285);   
}


.photo {
    width: 100px;
    height: 100px;

    background-image: url(1.jpg);
    background-position: center;
    background-size: 120%;

    margin: auto;
    padding: 5px;
    border-radius: 50%;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.492);   
    border:1px solid rgba(0, 0, 0, 0.079);

}

.title {
    width: auto;

    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color:  rgb(40, 40, 40);
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 5px 5px 5px rgba(95, 95, 95, 0.492);
    border:1px solid rgba(172, 172, 172, 0.1);    
   
}

.hobby {
    width: auto;
    
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color:  rgb(40, 40, 40);

    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 5px 5px 5px rgba(95, 95, 95, 0.492);
    border:1px solid rgba(172, 172, 172, 0.1);    
   

}

.text_about_me {
    width: auto;
    height: 150px;
    overflow-y: auto;

    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;

    text-align: center;
    text-align-last: center;
    color:  rgb(40, 40, 40);

    background-color: rgb(255, 255, 255);
    box-shadow: inset  5px 5px 5px rgba(95, 95, 95, 0.492);
    border: 1px solid rgba(172, 172, 172, 0.1);
    
}

.scrol::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(87, 34, 209, 0);
    border-radius: 50px;
    scroll-padding: 5px;
}

.scrol::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(94, 94, 94, 0.263);
    border-radius: 50px;
}
.scrol::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 255, 0);
}

.contact {
    width: auto;
    height: 50px;

    margin-top: 30px;
    border-radius: 100px;

    display: flex;
    justify-content: space-around;    
    align-items: center;
    
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 5px 5px 5px rgba(95, 95, 95, 0.492);
    border:1px solid rgba(172, 172, 172, 0.1);    
   

}

.items {
    width: 40px;
    height: 40px;

    border-radius: 10px;

    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.tel {
    width: 40px;
    height: 40px;
    background-image: url(tel.svg);
    border-radius: 10px;
   

}

.ws {
    width: 40px;
    height: 40px;
    background-image: url(ws.svg);
    border-radius: 10px;
    background-position: center;
    background-size: 110%;
}

.tg {
    width: 40px;
    height: 40px;
    background-image: url(tg.svg);
    border-radius: 10px;
    
}

.vk {
    width: 40px;
    height: 40px;
    background-image: url(vk.svg);
    border-radius: 10px;
}
a {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.285);
       
}

